# Results and datasets
results
checkpoints
data/dataset/ETT
data/dataset/weather
result.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store

# misc
img/figure1.png
table_cache.md

